/*Hier steht das komplette CSS von der SV-Webiste
Beginn am 5.9.16. Von Robert Kiene und Felix Scheling*/

/*############################################
            ALLGEMEINES
##############################################*/
* {
    box-sizing: border-box;
}

body {
    font-family:'Source Sans Pro', Calibri, Candara, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: black;
    font-size: 20px;
    margin: 6px;
    padding: 0;
}
p {
    color: #141414;
    font-size: 19px;
}


/*#############################################*/

#ContentPage {
        text-align: center;
        display: inline-block;
        padding: 0;
}

#wrapper {

    max-width: 1400px;
    margin: 0 auto;
}

/*############################################
            HEADER/NAVBAR
##############################################*/

#header {
    width: 100%;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

#header-img {
    width: 100%;
    vertical-align: top;

}

#handy-menu {
    display: none;
}
#menu {
    background-color: #2a8029;
    list-style: none;
    text-align: center;
    margin: 0;
    vertical-align: top;
}

#menu li {
    padding: 16px 24px;
    display: inline-block;
    font-size: 24px;

}
#menu li a {
    text-decoration: none;
    color: white;

}
#menu li:hover {
    background-color: #1d591d;
    transition: 0.2s;
}

/*############################################
                    INDEX
##############################################*/


.showcase {
        margin: 20px;
        padding: 15px;

        background-color: #2a8029;
    text-decoration: none;
          display: inline-block;
}
.showcase:hover {
    background-color: #1d591d;
}
.desc {

    font-size: 34px;
    margin: 15px;
    color: white;
}

.showcase img {
    height: auto;
    width: 500px;
}

/*############################################
              FARBAUSWAHL
##############################################*/

.farbauswahl {
    text-align: center;
    display: inline-block;
    margin: 20px;
    padding: 15px;
    text-decoration: none;
    color: black;

    background-color: #2a8029;
}

.farbauswahl img {
    height: 500px;
    width: 500px;
}

/*############################################
        ARTIKELSEITE
##############################################*/

#artikelwrapper{
    display: flex;
    -webkit-display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 auto;

    padding: 15px;
    overflow: hidden;

}
/*###FOTO###*/
#fotowrapper{
     display: flex;
    -webkit-display: flex;
    align-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    float: left;

    text-align: center;
}

#artikelbild {
    width: 500px;
    height: auto;
        border: lightgrey 1px solid;
}

#fotoswitcher {
    display: inline-block;
    text-align: center;

}

#fotoswitcher img {
    margin: 10px;


}
/*###BESCHREIBUNG###*/
#beschreibungswrapper{

    padding: 20px 40px;
    float: right;
    max-width: 700px;

}
#beschreibung{


}

/*###SWITCHER###*/
#switcher{

    overflow: auto;
}
#farbswitcher{

    list-style: none;
    width: 50%;
    float: left;
}
#farbswitcher li {
    display: inline-block;
    padding: 0 10px;
        text-align: center;

}

#fontswitcher{

    list-style: none;
    width: 50%;
    float: left;
}
#fontswitcher li {
    display: inline-block;
    padding: 0 10px;
        text-align: center;
}

/*Farbauswahl-divs*/
.farb-red {
    height: 45px;
    width: 45px;
    background-color: darkred;
    border: 1px solid darkgrey;
    border-radius: 30px;
    margin: 0 auto;
}

.farb-grey {
    height: 45px;
    width: 45px;
    background-color: grey;
    border: 1px solid darkgrey;
    border-radius: 30px;
    margin: 0 auto;
}
.farb-green {
    height: 45px;
    width: 45px;
    background-color: darkgreen;
    border: 1px solid darkgrey;
    border-radius: 30px;
    margin: 0 auto;
}
.farb-black {
    height: 45px;
    width: 45px;
    background-color: #000111;
    border: 1px solid darkgrey;
    border-radius: 30px;
    margin: 0 auto;
}
.farb-beige {
    height: 45px;
    width: 45px;
    background-color: #F5F5DC;
    border: 1px solid darkgrey;
    border-radius: 30px;
    margin: 0 auto;
}

/*###BESTELLEN###*/
#bestellinfo{

    padding: 30px;
    display: flex;
    -webkit-display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 auto;



}

/*############################################
               FOOTER
##############################################*/
#footer {
    width: 100%;

    border-left: 1px solid grey;
    border-right: 1px solid grey;
    background-color: #DFDFDF;
    overflow: auto;
    padding: 0 150px 10px 150px;
}
#adresse {
    margin: 10px;
    padding: 0 40px;
    float: left;
}
#adresse p {
    margin: 2px;
}
hr {
    border-top: 1px solid black;
          width: 300px;
}

#oeffnungszeiten {
    margin: 10px;
    padding: 0 40px;
    float: right;
}
#oeffnungszeiten p {
    margin: 2px;
}

#impressum a {
    color: black;
}

#impressum_main {
    padding: 40px 60px;
}


/*############################################
          COPYRIGHT
##############################################*/
#copyright {
    padding: 2px;
    text-align: center;
    margin-bottom: 30px;
    background-color: #2a8029;
    color: white;
    font-size: 12px;

}

/*############################################
          RESPONSIVE DESIGN
##############################################*/

@media only screen and (max-width: 1300px) {

    #footer {
        padding: 0 70px 10px 70px;
    }
}

@media only screen and (max-width: 1000px) {
    /*header*/

        #handy-menu {
            overflow: auto;
            direction: rtl;
            display: block;
            background-color:  #2a8029;
            list-style: none;
            margin: 0;
            vertical-align: top;
}

        #handy-menu li {
            padding: 16px 24px;
            font-size: 24px;

}
         #hamburger {
             float: right;
}
        #handy-menu li a {
            text-decoration: none;
            color: white;

}
        #handy-menu li:hover {
            background-color: #1d591d;
            transition: 0.2s;
}



          #menu {
            padding: 0;
          }
          #menu li{
                display: block;
                padding: 6px 12px ;
                font-size: 40px;

    }


    #wrapper {
        width: 100%;
        margin: 0 auto;
    }

    /*INDEX*/
    .showcase {
        width: 100%;
                    margin: 20px 0;
                    padding: 20px 30px;
    }
    .showcase img {
        width: 100%;
        height: auto;
    }

            #footer div {
                float: none;
                margin: 0 auto;
                text-align: center;
            }

    /*Farbauswahl-Seite*/
    h1 {
        font-size: 38px;
    }
    .farbauswahl {
        width: 100%;
                    margin: 20px 0;
    }
    .farbauswahl img {
        width: 100%;
        height: auto;
    }

    /*Artikelseite*/
        #artikelwrapper {
            display: block;
        }
        #artikelwrapper div {
            margin: 0 auto;
            display: block;
            float: none;
            max-width: none;
        }
        #artikelbild {
            height: auto;
            width: 500px;
            padding: 30px;
        }
        #fotoswitcher img {
            width: 100px;
            height: 100px;
        }
}